<mat-card class="auth-card">

  <h2>Login</h2>

 <mat-form-field>

  <input
    matInput
    [(ngModel)]="email"
    required
  />

  <mat-error *ngIf="!email">
    Email is required
  </mat-error>

</mat-form-field>

  <br>

  

  <button
  mat-raised-button
  color="primary"
  [disabled]="!email"
  (click)="login()"
>
  Login
</button>

  <mat-error *ngIf="errorMessage">
  {{ errorMessage }}
</mat-error>


  <br><br>

  <button
    mat-button
    routerLink="/register"
  >

    Create Account

  </button>

</mat-card>