<mat-card class="auth-card">

  <h2>Create Account</h2>

  <mat-form-field
    appearance="outline"
    class="full-width"
  >

    <mat-label>
      Name
    </mat-label>

    <input
      matInput
      type="text"
      [(ngModel)]="name"
      required
    />

  </mat-form-field>

  <br>

  <mat-form-field
    appearance="outline"
    class="full-width"
  >

    <mat-label>
      Email
    </mat-label>

    <input
      matInput
      type="email"
      [(ngModel)]="email"
      required
    />

  </mat-form-field>

  <br>

  <mat-form-field
    appearance="outline"
    class="full-width"
  >

    <mat-label>
      Password
    </mat-label>

    <input
      matInput
      type="password"
      [(ngModel)]="password"
      required
    />

  </mat-form-field>

  <br>

  <mat-error *ngIf="errorMessage">

  {{ errorMessage }}

</mat-error>

  <button
    mat-raised-button
    color="primary"
    (click)="register()"
  >

    Register

  </button>

  <br><br>

  <button
    mat-button
    routerLink="/login"
  >

    Already have an account?

  </button>

</mat-card>