<mat-card>

  <h2>
    Household Profile
  </h2>

  <p>

    Keep your household
    information updated so
    AI recommendations stay
    accurate.

  </p>

  <mat-form-field
    appearance="outline"
    class="full-width">

    <textarea
      matInput
      rows="12"
      [(ngModel)]="
        householdDescription
      ">
    </textarea>

  </mat-form-field>

  <mat-error
    *ngIf="errorMessage">

    {{ errorMessage }}

  </mat-error>

  <button
    mat-raised-button
    color="primary"
    (click)="save()">

    Save
  </button>

  <button
  mat-raised-button
  color="accent"
  (click)="generateHouseholdPlan()">

  Generate Household Plan

</button>

<div
  *ngIf="suggestions.length">

  <h3>
    Suggested Tasks
  </h3>

  <mat-card
    *ngFor="
      let suggestion
      of suggestions
    ">

    <h4>
      {{ suggestion.title }}
    </h4>

    <p>
      {{ suggestion.description }}
    </p>

    <p>

      Category:
      {{ suggestion.category }}

    </p>

    <p>

      Recurrence:
      {{ suggestion.recurrence }}

    </p>

    <p>

      Suggested Role:
      {{ suggestion.suggestedAssigneeRole }}

    </p>

  </mat-card>

</div>

</mat-card>