<app-task-review

    title="Family Needs Review"

    [tasks]="familyReviewTasks"

    [mode]="ReviewMode.Dashboard"

    [familyMembers]="familyMembers"

    (taskcompleted)="completeTask($event)"

    (taskChanged)="loadDashboard()"

  ></app-task-review>



<div class="dashboard-container">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Today's Summary</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="summary-grid">

  <div class="summary-item">
    <span class="label">Total Tasks</span>
    <span class="value">{{dashboard?.summary?.totalTasks}}</span>
  </div>

  <div class="summary-item">
    <span class="label">Pending</span>
    <span class="value">{{dashboard?.summary?.pendingTasks}}</span>
  </div>

  <div class="summary-item">
    <span class="label">Completed</span>
    <span class="value">{{dashboard?.summary?.completedTasks}}</span>
  </div>

  <div class="summary-item">
    <span class="label">Unassigned</span>
    <span class="value">{{dashboard?.summary?.unassignedTasks}}</span>
  </div>

</div>
    </mat-card-content>
  </mat-card>


  <mat-card>
  <mat-card-header>
    <mat-card-title>Family Progress</mat-card-title>
  </mat-card-header>
 <mat-card-content>

    <div
      class="member-progress"
      *ngFor="let member of dashboard?.familyProgress">

      <div class="member-header">
        <span class="member-name">{{ member.userName }}</span>

        <span>
          {{ member.completedTasks }} /
          {{ member.completedTasks + member.pendingTasks }}
        </span>
      </div>

      <mat-progress-bar
        mode="determinate"
        [value]="getCompletionPercentage(member)">
      </mat-progress-bar>

      <div class="member-footer">
        <span>Completed: {{ member.completedTasks }}</span>
        <span>Pending: {{ member.pendingTasks }}</span>
      </div>

    </div>

  </mat-card-content>
  </mat-card>

 <mat-card>
  <mat-card-header>
    <mat-card-title>Recent Completed Tasks</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-list>

      <mat-list-item *ngFor="let task of dashboard?.recentCompletedTasks">

        <mat-icon matListItemIcon color="primary">
          check_circle
        </mat-icon>

        <div matListItemTitle>
          {{ task.title }}
        </div>

        <div matListItemLine>
          Completed by <strong>{{ task.completedBy }}</strong>
        </div>

        <div matListItemLine>
          {{ task.completedAt | date:'MMM d, h:mm a' }}
        </div>

      </mat-list-item>

    </mat-list>

    <div *ngIf="dashboard?.recentCompletedTasks?.length === 0"
         class="empty-state">

      <mat-icon>task_alt</mat-icon>

      <p>No tasks have been completed today.</p>

    </div>

  </mat-card-content>
</mat-card>

</div>