<mat-toolbar color="primary">
  <a mat-button class="toolbar-title" routerLink="/home">Mental Load Distributor</a>
  <span class="spacer"></span>

  <button mat-button color="accent" routerLink="/ai-assistant" class="ai-button">
    <mat-icon>smart_toy</mat-icon>
    Plan with AI
  </button>

  <span class="spacer"></span>


  <button
    mat-button
    routerLink="/reflections"
    routerLinkActive="active-link">

    <mat-icon>rate_review</mat-icon>

    Reflection

</button>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="profileMenu">
    Profile
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
